:root {
    --background-colour: linear-gradient(180deg, #112243 0%, #070C1C 53.36%, #01040C 100%);
    --white-500: #F0F0F0;
    --white-700: #e5eeffb3;
    --accent-colour: #F5C000;

    --main-font-family: 'Libre Franklin', sans-serif
}

body {
    word-spacing: 2px;
    font-family: var(--main-font-family);
    background: var(--background-colour);
    color: var(--white-500);
}

header {
    margin: 120px 0 120px 240px;
    height: 1024px;
}

.headings {
    margin-bottom: 76px;
}

h1 {
    font-weight: 300;
    font-size: 3.75rem;
    color: var(--accent-colour);
}

h2 {
    font-weight: 300;
    font-size: 1.125rem;
}

nav {
    margin-bottom: 360px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li.nav-link:not(:last-child) {
    margin-left: 0;
    margin-bottom: 18px;
}

li.nav-link {
    font-weight: 700;
    font-size: 1rem;
}

li a:hover {
    color: var(--white-500);
}

li.current a {
    color: var(--white-500);
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

a.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--white-700);
  }
  
  a.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--accent-colour);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  a.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.social-icon {
    font-size: 1.75rem;
    margin-right: 26px;
    color: var(--white-700);
}

.social-icon:hover {
    color: var(--white-500);
}

main {
    margin: 120px 240px 120px 0;
    padding: 0 120px 0 20px;
    height: 1024px;
}

p.main-text {
    font-weight: 400;
    font-size: 1rem;
    color: var(--white-700);
}

a.contact-button {
    display: block;
    width: fit-content;
    color: var(--accent-colour);
    font-size: 1.125rem;
    padding: 16px 18px;
    border: 1px solid var(--accent-colour);
    border-radius: 8px;
    margin: 24px 0;
}

p span {
    font-weight: bold;
    color: var(--white-500);
}

.footer {
    position: absolute;
    top: 780px;
    color: var(--white-700);
    font-weight: 100;
}